*.IGNORE
exportet/
runtimes/export
runtimes/exportet
.idea/

clients/

docker/**
!docker/mysql.cnf
android-app/

localadmin_*-1/*

base-db/
logs/

localadmin_*-1.deb

*.jar
*.class
target/
banner.png

banner.pdn

bin/

*.cfg
!local-admin.cfg
