[mysqld]
default-storage-engine = INNODB
max_sp_recursion_depth = 1000
thread_stack = 256K
max_allowed_packet = 16M
general_log_file = /custommysql.log
general_log      = 0
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci 
skip-character-set-client-handshake
 
[client]
default-character-set=utf8

[mysql]
default-character-set=utf8